body{
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}
#lewy{
    background-color: rosybrown;
    color: white;
    width: 30%;
    height: 200px;
    float: left;
}
#prawy{
    background-color: rosybrown;
    color: white;
    width: 30%;
    height: 200px;
    float: left;
}
#srodkowy{
    background-color: rosybrown;
    color: white;
    width: 40%;
    height: 200px;
    text-align: center;
    float: left;
}
article{
    background-color: wheat;
    padding: 50px;
    clear: both;
}
footer{
    background-color: rosybrown;
    color: white;
    padding: 5px;
    text-align: center;
}
a{
    border: 2px solid darkred;
    background-color: salmon;
    color: darkred;
    padding: 20px;
    line-height: 200px;
}